# run syntheis in an O1 atlas

[core]
workers = 5
logging_conf_file = logging.conf

[SynthesisConfig]
axon_method = synthesis

# L1 IN
#mtypes = ["L1_DAC", "L1_HAC", "L1_NGC-SA", "L1_NGC-DA", "L1_LAC", "L1_SAC"]

# L23 IN
#mtypes = ["L23_MC"]
#, "L23_ChC", "L23_NBC", "L23_DBC", "L23_LBC", "L23_BTC", "L23_NGC", "L23_BP"]

# L23 PC
mtypes = ["L2_TPC:A", "L2_TPC:B", "L2_IPC", "L3_TPC:A", "L3_TPC:C"]

[RunnerConfig]
nb_jobs = 5

[CircuitConfig]
atlas_path = atlas
region = O0

[BuildCircuit]
density_factor = 1.0

[CreateBoundaryMask]
boundary_thickness = 2

[SliceCircuit]
n_cells = 10

[CreateAtlasPlanes]
plane_type = centerline_straight
plane_count = 3
slice_thickness = 200

[GetSynthesisInputs]
url = git@bbpgitlab.epfl.ch:neuromath/synthdb.git
git_synthesis_input_path = synthdb/insitu_synthesis_inputs/rat_O1
branch = axon_rat_O1

[BuildMorphsDF]
neurondb_path = /gpfs/bbp.cscs.ch/project/proj83/home/gevaert/morph-release/morph_release_old_code-2020-07-27/output/06_RepairUnravel-asc/neuronDB.xml
morphology_dirs = {"path": "/gpfs/bbp.cscs.ch/project/proj83/home/gevaert/morph-release/morph_release_old_code-2020-07-27/output/06_RepairUnravel-asc"}

[ValidateSynthesis]
with_collage = True
with_trunk_validation = True
with_path_distance_fits = False
with_morphometrics = False
with_density_profiles = False
with_scale_statistics = False
with_score_matrix_reports=False
with_morphology_validation_reports = False
